@charset "utf-8";
/* CSS Document */

.db_search_form{height:44px; width:211px; background-image:url(../img/db_search.png); margin-top:10px; padding:6px 0 0 9px;}
.begin_button{ margin:20px 0 0 143px;}


