@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
html, body {height: 100%; margin: 0; padding: 0; }
body { background-color:#ffffff; background-image:url(../img/topbg.jpg);  background-position:top; background-repeat:repeat-x;}
img{ margin:0; padding:0; border:0;}
.clear{ clear:both;}
input[type="radio"]{	top: 5px;}
input, textarea { outline:none; }
input:active, textarea:active { outline:none; }
:focus { outline:none; } 

.search_title_icon{
	float:left;
	height:40px;
	width:41px;
	background-image:url(../img/icons/register.png);
	margin-top: -7px;
    margin-left: -25px;
}

@font-face {
font-family: "NewsGothicDemi";
src: url("../fonts/news_gothic_demi_bt-webfont.eot");
src: url("../fonts/news_gothic_demi_bt-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/news_gothic_demi_bt-webfont.woff") format("woff"),
url("../fonts/news_gothic_demi_bt-webfont.ttf") format("truetype"),
url("../fonts/news_gothic_demi_bt-webfont.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;	}

@font-face {
font-family: "NewsGothicBold";
src: url("../fonts/news_gothic_bold_bt-webfont.eot");
src: url("../fonts/news_gothic_bold_bt-webfont.eot?#iefix") format("embedded-opentype"),
url("../fonts/news_gothic_bold_bt-webfont.woff") format("woff"),
url("../fonts/news_gothic_bold_bt-webfont.ttf") format("truetype"),
url("../fonts/news_gothic_bold_bt-webfont.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;	}

	/*1*/
	.wrapper1{ min-width:760px; max-width:980px; margin:0 auto; padding:32px 3px 0 3px;}
	.start_cont{ height:328px; width:417px; background-image:url(../img/bg_start.png); margin:35px auto; padding-top:18px;}
		.start_tit{ height:24px; width:170px;  margin-left:123px; text-align:center;}
			.start_tit p{color:#FFFFFF; font-size:20px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #963e3e, 1px 0 #b65858, -1px 0 #b65858; text-transform:uppercase;}
			
			.start_username{ margin:52px 0 0 104px;}
			.start_username input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.start_password{ margin:37px 0 0 104px;}
			.start_password input{ height:22px; width:207px; background:none;  border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.start_check{ height:34px; margin:22px 0 0 144px;}
				.start_check div{ float:left;}
				.start_check p{ padding:7px 0 0 7px; float:left; color:#313131; font-size:14px; font-family:"NewsGothicDemi";}
			.start_button{ margin:12px 0 0 143px;}
			.start_button input{height:50px; width:134px; background:none; border:0; background-image:url(../img/button_begin.png); color:#2c2c2c; font-size:20px; font-family:"NewsGothicDemi"; text-shadow: 0 1px #f0efef; cursor:pointer; }
				.start_button input:active{ background-image:url(../img/button_begin2.png); text-shadow: 0 -1px #f0efef; height:50px;}
			


/* 2 */
.wrapper2{ min-width:760px; max-width:980px; margin:0 auto; padding:47px 3px 0 3px;}
	.logo_big{ }
	.logo_big a{margin:0 auto; display:block; height:82px; width:372px; background-image:url(../img/logo_big.png);}
	.l_title{ font-family:"Times New Roman", Times, serif; color:#990000; font-size:30px; text-align:center; padding-top:25px; text-transform:uppercase; padding-bottom:42px;}
	
	.gen_menu{ width:749px;  margin:0 auto;}
		.gen_menu a{font-size:22px; color:#393838; font-family:"NewsGothicDemi"; text-transform:uppercase; text-decoration:none;  text-align:center; text-shadow:0 1px #FFF;}
		.gm_database{float:left;}
			.gm_database a{ display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:0 0; background-color:#e6e5e5;}
			.gm_database a:hover{background-image:url(../img/gen_menu3.png); background-position:0 -344px;}
			.gm_database a:active{background-image:url(../img/gen_menu3.png); background-position:0 -344px;}
		.gm_registration{float:left; margin-left:25px;}
			.gm_registration a{display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:-258px 0; background-color:#e6e5e5;}
			.gm_registration a:hover{ background-image:url(../img/gen_menu3.png); background-position:-258px -344px;}
			.gm_registration a:active{ background-image:url(../img/gen_menu3.png);}
		.gm_acceptance{float:left; margin-left:25px;}
			.gm_acceptance a{display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:-514px 0; background-color:#e6e5e5;}
			.gm_acceptance a:hover{ background-image:url(../img/gen_menu3.png); background-position:-514px -344px;}
			.gm_acceptance a:active{ background-image:url(../img/gen_menu3.png)}
		.gnm_line{ padding-top:18px; }
		.gm_reception{float:left;}
			.gm_reception a{ display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:0 -181px; background-color:#e6e5e5;}
			.gm_reception a:hover{background-image:url(../img/gen_menu3.png); background-position:0 -525px;}
			.gm_reception a:active{background-image:url(../img/gen_menu3.png); background-position:0 -525px;}
		.gm_usage{float:left; margin-left:25px;}
			.gm_usage a{display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:-258px -181px; background-color:#e6e5e5;}
			.gm_usage a:hover{background-image:url(../img/gen_menu3.png); background-position:-258px -525px;}
			.gm_usage a:active{background-image:url(../img/gen_menu3.png); background-position:-258px -525px;}
		.gm_departure{float:left; margin-left:25px;}
			.gm_departure a{display:block; height:45px; padding:118px 0 0 0; width:233px; background-image:url(../img/gen_menu3.png); background-position:-514px -181px; background-color:#e6e5e5;}
			.gm_departure a:hover{background-image:url(../img/gen_menu3.png); background-position:-514px -525px;}
			.gm_departure a:active{background-image:url(../img/gen_menu3.png)}

.header{ height:73px; width:100%; background-image:url(../img/header_bg.png);}
.block_database{ width:100%; padding-top:73px; position:relative; min-width:760px; max-width:980px;}
/* 3 */
.b_database{ background-color:#ffffff;  background-image:url(../img/topbg.jpg); background-attachment:fixed; background-position:top; background-repeat:repeat-x;}
.wrapper3{ min-width:760px; max-width:980px; margin:0 auto; /*padding:0 3px 40px 3px;*/ position:relative;}
	.h_bd3{ height:73px; width:100%; background-image:url(../img/header_bg.png); position:fixed; min-width:760px; max-width:980px; z-index:999;}
	.query_h_bd3{ height:73px; width:100%; background-image:url(../img/header_bg.png); min-width:760px; max-width:980px; z-index:999;}
	
	
	.header_left{ float:left; height:65px; padding-top:8px; width:252px; background-image:url(../img/header_logo.png); }
		.header_left a{ display:block; width:239px; height:54px; cursor: pointer; margin-left:15px;}
	.header_center{ height:51px; padding-top:22px; margin-left:252px; margin-right:105px; text-align:center; font-family:"Times New Roman", Times, serif; color:#990000; font-size:24px; text-shadow:0 1px #FFFFFF;}
	.header_right{ float:right; height:73px; width:105px;}
		.header_nav{ float:right; width:95px; height:62px; padding-top:11px;}
		.nav_back{ float:left; margin-right:2px;}
			.nav_back a{ display:block; height:49px; width:45px; background-image:url(../img/btn_back.png); cursor:pointer;}
			/*.nav_back a:hover{ background-image:url(../img/btn_back2.png);}*/
			.nav_back a:active{ background-image:url(../img/btn_back2.png);}
		.nav_home{ float:left;}
			.nav_home a{ display:block; height:49px; width:45px; background-image:url(../img/btn_home.png); cursor:pointer;}
			/*.nav_home a:hover{background-image:url(../img/btn_home2.png);}*/
			.nav_home a:active{background-image:url(../img/btn_home2.png);}
		.right_bd{ float:right; width:10px; height:73px; background-image:url(../img/header_logo.png); background-position:-262px 0;}
		
		
	.block_database_db{ width:100%; position:relative; min-width:760px; max-width:980px;}
		.bd_left{ width:241px; position:fixed; z-index:999;}
			.side_top{ height:4px; width:241px; background-image:url(../img/sidebg_top.png);}
			.side_mid{  width:231px; background-image:url(../img/sidebg_mid.png); padding-left:10px; padding-bottom:10px;}
				.nf{ height:50px; width:220px; background:none; background-image:url(../img/button_nf.png); border:0; cursor:pointer; font-family:"NewsGothicDemi";  font-size:20px;  color:#393838; text-shadow:0 1px #FFFFFF; text-decoration:none;}
				.nf:active{background-image:url(../img/button_nf2.png); text-shadow:1px 0 #FFFFFF;}
				/*.nf:hover{background-image:url(../img/button_nf3.png);}*/
				.nf_a{ text-decoration:none;}
			.sel_sort{ padding-top:10px;}
			.db_search_form{height:47px; width:211px; background-image:url(../img/db_search.png); margin-top:10px; padding:3px 0 0 9px;}
			.db_search_form div{ float:left;}
			.db_search{ border:0; height:23px; width:164px; margin-top:10px; }	
			.db_subm{ height:44px; width:44px; background:none; border:0; margin-left:2px; cursor: pointer;}
			.side_down{ height:5px; width:241px; background-image:url(../img/sidebg_down.png);}
			.db_abc{ padding-top:10px; padding-left:173px;}
				.db_abc input{ height:50px; width:47px; background-image:url(../img/button_abc.png); background-color:transparent; border:0;font-family:"NewsGothicDemi";  font-size:20px;  color:#393838; text-shadow:0 1px #FFFFFF;}
				.db_abc input:active{background-image:url(../img/button_abc2.png); text-shadow:1px 0 #FFFFFF;}
				
		.new_table_title table{ height:44px; background-color:#F00; position:fixed; min-width:410px; max-width:632px; width:100%;}
		
		.db_title{ height:44px; background-image:url(../img/bg_title.png); min-width:410px; max-width:632px; margin:0 107px 0 241px;}
		.db_name{ float:left; width:54%; height:44px;}
		.db_id{ float:left; width:16%; height:44px;}
			.db_tit_pad{ padding:18px 0 0 8px;}
		.db_status{ float:left; width:30%; height:44px;}
		.sep_2{ background-image:url(../img/sep2.png); background-position:right; background-repeat:repeat-y;}
		.db_tit_left{ float:left; height:44px; width:9px; background-image:url(../img/bg_title_left.png);}
		.db_tit_name{ float:left; padding:18px 0 0 6px;}
		.db_tit_right{ float:right; height:44px; width:7px; background-image:url(../img/bg_title_right.png);}
		.db_tit_stat{ float:left; padding:18px 0 0 6px;}
		
		.db_title table{ width:100%; height:44px; background-image:url(../img/bg_title.png);}
		.db_table_name{ width:54%; background-image:url(../img/bg_title_left.png); background-repeat:no-repeat; background-position:left; vertical-align:middle; padding-left:6px; border-right:1px solid #bfbdbd;}
		.db_table_id{ width:16%; background-position:left; border-right:1px solid #bfbdbd; vertical-align:middle; padding-left:6px}
		.db_table_status{ width:30%; background-image:url(../img/bg_title_right.png); background-repeat:no-repeat; background-position:right;  vertical-align:middle; padding-left:6px}

		.query_title{ height:50px; margin:20px 50px 20px 50px; text-align:center; background-image:url(../img/list_title_bg.png);}
		.query_table_header{ vertical-align:middle; padding:20px; color:black;}
		.query_table_row{ vertical-align:middle; background-image:url(../img/bg_title.png);}
		.query_table_block {padding:10px;}
		.query_text1{ font-size:18px; color:#ffffff; font-weight:normal; font-family:"NewsGothicBold"; }
		.query_text2{ color:#000000; font-size:15px; font-family:"NewsGothicDemi"; line-height:24px;}
		.query_text3{ color:#000000; font-size:16px; font-family:"NewsGothicDemi"; line-height:24px;}

		.btn_query_admin {text-align:center; margin:30px; height:50px; width:214px; background:none; background-image:url(../img/submit_red.png); border:none; color:#FFFFFF; font-size:18px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}
		.btn_checkid {text-align:center; margin: -2px 0 0 10px; height:45px; width:188px; background:none; background-image:url(../img/button_addr.png); border:none; color:#333333; font-size:14px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}

		.btn_query_page {text-align:center; margin-top:30px; margin-left:10px; margin-right:10px; height:50px; width:214px; background:none; background-image:url(../img/submit_red.png); border:none; color:#FFFFFF; font-size:18px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}
		.btn_query_export {text-align:center; margin:30px; height:50px; width:214px; background:none; background-image:url(../img/submit_red.png); border:none; color:#FFFFFF; font-size:18px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}

		.search_res{ height:72px; width:209px; background-image:url(../img/search_res.png); margin:11px 0 20px 0; padding:7px 0 0 11px;}
			.search_res p{ color:#2e2d2d; font-size:12px; text-transform:uppercase; margin-top:3px; font-family:"NewsGothicDemi";}
			.sr_p2{ padding-left:2px;}
			.sr_big_red{ color:#910101; font-size:16px; font-family:"NewsGothicDemi";}
			.sr_big{color:#2e2d2d; font-size:16px; font-family:"NewsGothicDemi";}
			
			.sr_user{ color:#2e2d2d; font-size:16px; font-family:"NewsGothicDemi";}
		
	
	.bd_right{  padding-left:241px; /*padding-right:3px;*/ margin-right:107px; position:relative;}
	.db_table9 { padding-top:44px; padding-bottom:40px;}
	.db_table9 table{ width:100%; border:1px solid #d2d1d1;  border-collapse:collapse; border-bottom-right-radius:5px;
			-webkit-border-bottom-right-radius:5px;
			-moz-border-radius-bottomright:5px;}
	.db_table9 table td{border:1px solid #d2d1d1;}
	
		/*.db_border{ border:1px solid #d2d1d1; border-bottom-right-radius:5px;
			-webkit-border-bottom-right-radius:5px;
			-moz-border-radius-bottomright:5px;}*/	
		.cone{ width:54%;}
		.ctwo{ width:16%;}
		.cthree{ width:30%;}
		.line_pad{ padding:16px 8px 9px 8px;}
		.sep_v{ background-image:url(../img/sep.png); background-position:right; background-repeat:repeat-y;}
		.sep_left{background-image:url(../img/line_left.png); background-repeat:no-repeat; background-position:left; height:1px; background-color:#d2d1d1;}
		.sep_center{ background-color:#d2d1d1; height:1px;}
		.sep_right{background-image:url(../img/line_right.png); background-repeat:no-repeat; background-position:right; background-color:#d2d1d1; height:1px;}
		.db_empty{ height:60px;}
		.bd_let_line_left{ height:45px; background-color:#01f1f1;}
		/*.bd_let_line_center{ height:45px; background-color:#f1f1f1;}
		.bd_let_line_right{ height:45px; background-color:#f1f1f1; background-image:url(../img/let_line_right.png); background-repeat:no-repeat; background-position:right;}*/
		.line_w{ background-color:#FFFFFF; height:1px;}
		.db_letter{ color:#393838; font-size:26px; font-family:"NewsGothicDemi"; text-transform:uppercase;  text-shadow:0 1px #FFFFFF; padding-left:37px;}
		
		
		
		.abc_container{position:absolute; right:0px;}
		.abc_search{  width:102px; position:fixed; margin-left:-102px;}
			.abc_left{ float:left;}
			.abc_right{ float:left;}
			.abc_separator{ float:left; width:1px; height:569px; margin:0 4px 0 4px; background-color:#b2b2b2;}
			.abc_letter{ padding:0px; margin:0px;}
				.abc_letter a{ width:45px; height:33px; padding-top:8px; margin-bottom:3px; background-image:url(../img/abc_button_41.png); background-repeat:no-repeat; background-color:transparent; display:block; cursor:pointer;  color:#393838; font-size:26px; line-height:26px; text-transform:uppercase; font-family:"NewsGothicDemi"; text-decoration:none; text-shadow:0 1px #FFFFFF; text-align:center;}
				.abc_letter a:active{ background-image:url(../img/abc_button_41_active.png); background-repeat:no-repeat; background-color:transparent;}
				
		.title_arrow_up{ width:11px; height:6px; text-decoration:none; background-image:url(../img/arrow_title_up.png); background-repeat:no-repeat; background-position:right; padding-right:17px;}
		.title_arrow_down{ width:11px; height:6px; text-decoration:none; background-image:url(../img/arrow_title_down.png); background-repeat:no-repeat; background-position:right; padding-right:17px;}
		
		.db_letter a[name]{ padding-top:126px;}
		/*.db_letter a[name^="A"]{ padding-top:126px;}
		.db_letter a[name^="B"]{ padding-top:126px;}
		.db_letter a[name^="C"]{ padding-top:126px;}
		.db_letter a[name^="D"]{ padding-top:126px;}
		.db_letter a[name^="E"]{ padding-top:126px;}
		.db_letter a[name^="F"]{ padding-top:126px;}
		.db_letter a[name^="G"]{ padding-top:126px;}
		.db_letter a[name^="H"]{ padding-top:126px;}
		.db_letter a[name^="I"]{ padding-top:126px;}
		.db_letter a[name^="J"]{ padding-top:126px;}
		.db_letter a[name^="K"]{ padding-top:126px;}
		.db_letter a[name^="L"]{ padding-top:126px;}
		.db_letter a[name^="M"]{ padding-top:126px;}
		.db_letter a[name^="N"]{ padding-top:126px;}
		.db_letter a[name^="O"]{ padding-top:126px;}
		.db_letter a[name^="P"]{ padding-top:126px;}
		.db_letter a[name^="Q"]{ padding-top:126px;}
		.db_letter a[name^="R"]{ padding-top:126px;}
		.db_letter a[name^="S"]{ padding-top:126px;}
		.db_letter a[name^="T"]{ padding-top:126px;}
		.db_letter a[name^="U"]{ padding-top:126px;}
		.db_letter a[name^="V"]{ padding-top:126px;}
		.db_letter a[name^="W"]{ padding-top:126px;}
		.db_letter a[name^="X"]{ padding-top:126px;}
		.db_letter a[name^="Y"]{ padding-top:126px;}
		.db_letter a[name^="Z"]{ padding-top:126px;}*/
		
	/* /3*/
	
	
	/*4*/
	.wrapper4{ min-width:760px; max-width:980px; margin:0 auto; padding:32px 3px 0 3px;}
	.begin_cont{ height:434px; width:417px; background-image:url(../img/bg_enter.png); margin:0 auto; padding-top:18px;}
		.begin_tit{ height:24px; width:200px;  margin-left:108px; text-align:center;}
			.begin_tit p{color:#FFFFFF; font-size:20px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #963e3e, 1px 0 #b65858, -1px 0 #b65858; text-transform:uppercase;}
			.begin_last_name{ margin:52px 0 0 104px;}
			.begin_last_name input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin_first_name{ margin:37px 0 0 104px;}
			.begin_first_name input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin_id{ margin:62px 0 0 104px;}
			.begin_id input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin_button{ margin:26px 0 0 143px;}
			.begin_button input{height:50px; width:134px; background:none; border:0; background-image:url(../img/button_begin.png); color:#2c2c2c; font-size:20px; font-family:"NewsGothicDemi"; text-shadow: 0 1px #f0efef; cursor:pointer; }
				.begin_button input:active{ background-image:url(../img/button_begin2.png); text-shadow: 0 -1px #f0efef; height:50px;}
			.begin_nav{ margin:14px 0 0 79px;}
				.begin_back{ float:left;}
					.begin_back a{ height:32px; width:128px; display:block; background-image:url(../img/button_beg_back.png); color:#2c2c2c; font-size:16px; font-family:"NewsGothicBold"; text-decoration:none; text-align:center; padding-top:16px; cursor: pointer;}
					.begin_back a:active{background-image:url(../img/button_beg_back2.png);}
				.begin_home{ float:left; margin-left:2px;}
					.begin_home a{height:32px; width:129px; display:block; background-image:url(../img/button_beg_home.png); color:#2c2c2c; font-size:16px; font-family:"NewsGothicBold"; text-decoration:none; text-align:center; padding-top:16px; cursor: pointer;}
					.begin_home a:active{ background-image:url(../img/button_beg_home2.png);}
					
					
	/*4-2*/					
			.begin_cont42{ height:434px; width:417px; background-image:url(../img/bg_enter42.png); margin:0 auto; padding-top:18px;}
			.begin42_last_name{ margin:42px 0 0 104px;}
			.begin42_last_name input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin42_first_name{ margin:33px 0 0 104px;}
			.begin42_first_name input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin42_id{ margin:53px 0 0 104px;}
			.begin42_id input{ height:22px; width:207px; background:none; border:0; color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
			.begin42_button_search{ margin:21px 0 0 143px;}
			.begin42_button_search input{height:46px; width:136px; background:none; border:0; background-image:url(../img/button_begin42.png); color:#8d0101; font-size:18px; font-family:"NewsGothicDemi"; text-shadow: 0 1px #f0efef; cursor:pointer; }
			.begin42_button_search input:active{ background-image:url(../img/button_begin42.png); text-shadow: 0 -1px #f0efef; height:46px; background-position:0 -46px;}
			
			.begin42_button{ margin:17px 0 0 143px;}
			.begin42_button input{height:46px; width:136px; background:none; border:0; background-image:url(../img/button_begin42.png); color:#2c2c2c; font-size:18px; font-family:"NewsGothicDemi"; text-shadow: 0 1px #f0efef; cursor:pointer; }
				.begin42_button input:active{ background-image:url(../img/button_begin42.png); text-shadow: 0 -1px #f0efef; height:46px; background-position:0 -46px;}
			.begin42_nav{ margin:7px 0 0 79px;}
				.begin42_back{ float:left;}
					.begin42_back a{ height:32px; width:128px; display:block; background-image:url(../img/button_beg_back.png); color:#2c2c2c; font-size:16px; font-family:"NewsGothicBold"; text-decoration:none; text-align:center; padding-top:16px; cursor: pointer;}
					.begin42_back a:active{background-image:url(../img/button_beg_back2.png);}
				.begin42_home{ float:left; margin-left:2px;}
					.begin42_home a{height:32px; width:129px; display:block; background-image:url(../img/button_beg_home.png); color:#2c2c2c; font-size:16px; font-family:"NewsGothicBold"; text-decoration:none; text-align:center; padding-top:16px; cursor: pointer;}
					.begin42_home a:active{ background-image:url(../img/button_beg_home2.png);}		
					
					
/* 5*/

.wrapper5{ min-width:760px; width:760px; margin:0 auto; padding:0 3px 0 3px;}
	.block_list{ width:754px; height:300px; padding:0 3px 0 3px; margin-top:10px;}
		.list_head{ height:55px; background-image:url(../img/list_title_bg.png)}
			.list_h_left{ float:left; width:41px; height:55px; background-image:url(../img/list_title_left.png);}
			.list_h_center{ float:left; text-align:center; padding-top:16px; width:672px; text-transform:uppercase;}
			.list_h_right{ float:right; width:41px; height:55px; background-image:url(../img/list_title_right.png);}
		.list_border{ margin-bottom:70px; border-left:1px solid #d2d1d1; border-right:1px solid #d2d1d1; border-bottom:1px solid #d2d1d1; border-top:none; border-bottom-right-radius:5px; border-bottom-left-radius:5px;
			-webkit-border-bottom-left-radius:5px;
			-webkit-border-bottom-right-radius:5px;
			-moz-border-radius-bottomleft:5px;
			-moz-border-radius-bottomright:5px;}
			.list_sep{ width:752px; height:2px; background-image:url(../img/list_sep.png);}
			.list_line{ height:43px; width:752px; background-image:url(../img/list_line.png);
			 border-bottom-right-radius:5px;
			  border-bottom-left-radius:5px;
			-webkit-border-bottom-left-radius:5px;
			-webkit-border-bottom-right-radius:5px;
			-moz-border-radius-bottomleft:5px;
			-moz-border-radius-bottomright:5px;}
				.list_line_name{ float:left; width:606px; padding-left:16px; padding-top:12px; height:27px; overflow:hidden;}
				.list_line_id{ float:left; width:114px; padding-right:16px; padding-top:14px;}
		.footer{position:absolute; bottom:0; height:48px; width:752px; background-color:#33CCFF; border:1px solid #d2d1d1; background-color:#FFFFFF; background-image:url(../img/button_footer_up.png); background-repeat:no-repeat; background-position:center;
			border-bottom-right-radius:5px;
			  border-bottom-left-radius:5px;
			-webkit-border-bottom-left-radius:5px;
			-webkit-border-bottom-right-radius:5px;
			-moz-border-radius-bottomleft:5px;
			-moz-border-radius-bottomright:5px;}
		.footer:active{ background-image:url(../img/button_footer_up2.png); background-color:#f6f6f6;}
				
/*6*/

.wrapper6{ min-width:760px; max-width:980px; margin:0 auto; padding:0 3px 40px 3px;}
	.name_line{ height:44px; padding:16px 0 0 12px; text-transform:uppercase;}
		.t_cont{ padding:0 3px 0 3px;}
		.name_line p{ float:left; text-transform:uppercase; font-size:22px; color:#990000; font-family:"NewsGothicDemi"}
		.tc6{ padding:31px 0 120px 0;}
			.tc_line{ height:52px; padding:10px 0 0 20px; }
				.tcl_p{ float:left; color:#434343; font-size:16px; font-family:"NewsGothicDemi"; width:117px; padding-top:12px;}
				.tcl_input{ float:left; height:40px; width:317px; padding:0 10px 0 10px; border:1px solid #a7a6a7; border-radius:5px; background-image:url(../img/inp_bg.png); color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; line-height:40px;}
				.tc_sep{ width:100%; height:1px; background-color:#d2d1d1;}
					.tc_sep_left{ float:left; background-image:url(../img/tc_sep_left.png); width:60px; height:1px;}
					.tc_sep_right{ float:right; background-image:url(../img/tc_sep_right.png); width:60px; height:1px; background-position:right;}
				.tc_date{ float:left;}
					.tc_date p{ float:left; color:#434343; font-size:16px; font-family:"NewsGothicDemi";  padding:12px 11px 0 0;}
					.tc_date input{ float: right; height:40px; padding:0 10px 0 10px; border:1px solid #a7a6a7; border-radius:5px; background-image:url(../img/inp_bg.png); color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; line-height:40px; margin-left:11px; margin-top: 3px; }
					.tc_submit{ padding:37px 10px 0 0;float:right;}
						.tc_submit input{margin-right:7px; height:51px; width:214px; background:none; background-image:url(../img/submit_red.png); border:none; color:#FFffff; font-size:18px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}

					.tc_submit2{ padding:37px 10px 0 30px;float:right;}
						.tc_submit2 input{margin-right:7px; height:51px; width:214px; background:none; background-image:url(../img/submit_red.png); border:none; color:#FFffff; font-size:18px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #4e1d1d; text-transform:uppercase; cursor:pointer;}
						.tc_submit input:active{ background-position:0 -51px;}
						.tc_submit2 input:active{ background-position:0 -51px;}
						
				.tc_cal{ float:left;}
					.tc_cal p{ float:left; color:#434343; font-size:16px; font-family:"NewsGothicDemi";  padding:12px 11px 0 0;}
					.tc_cal input{ float:left; border:0; color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; line-height:40px; margin-right:11px; text-align:center; margin-top:-5px; cursor:pointer; background-color:transparent; text-shadow:1px 1px #FFFFFF;}
					.tc_cal_month{ height:47px; width:99px; background-image:url(../img/cal_month.png); padding:8px 6px 0 6px; }
					.tc_cal_day{ height:47px; width:53px; background-image:url(../img/cal_day.png); padding:8px 6px 0 6px; }
					.tc_cal_year{ height:47px; width:73px; background-image:url(../img/cal_year.png); padding:8px 6px 0 6px; }
					
				.sub_calc {height:46px !important; width:44px; border:0 !important; background:none; background-image:url(../img/but_calc.png) !important; margin-top:-3px !important; margin-left:10px;}
				.sub_calc:active{background-image:url(../img/but_calc.png) !important; background-position:0 -46px;}
						
						
						.w130{ width:130px !important;}
						.w25{ width:25px;}
						.w30{ width:30px;}
						.w35{ width:55px;}
						.w40{ width:40px;}
						.w45{ width:65px;}
						.w50{ width:50px;}
						.w60{ width:60px;}
						.w70{ width:70px;}
						.w105{ width:105px;}
						
						.w160{ width:160px !important;}
						.w200{ width:200px !important;}
						.w240{ width:240px !important;}
						.w285{ width:285px !important;}
						
						.w_auto{ /*width:auto !important;*/ padding-right:30px;}
						.dash{width:auto !important; padding:12px 10px 0 10px;}
						.dash2{width:auto !important; padding:12px 10px 0 25px;}
						.check_padding{ margin-top:4px;}
						.check_left_padding{ float:left; margin-top:4px; margin-right:10px;}
						.check_left_padding2{float:left; margin-top:4px; margin-right:10px;}
						.mar_right{ margin-right:20px !important;}
						.right10{margin-right:10px;}
						.left20{ margin-left:20px;}
						
						.select240{ float:left;}
						.select240 .selectbox .dropdown { width:240px;}
						.select240 .selectbox .select { width:240px; padding-right:0px;}
						

						.select270{ float:left;}
						.select270 .selectbox .dropdown { width:270px;}
						.select270 .selectbox .select { width:270px; padding-right:0px;}

						.select200{ float:left;}
						.select200 .selectbox .dropdown { width:200px;}
						.select200 .selectbox .select { width:160px; padding-right:40px;}

						.select140{ float:left;}
						.select140 .selectbox .dropdown { width:160px;}
						.select140 .selectbox .select { width:150px; padding-right:0px;}
						
						.select120{ float:left;}
						.select120 .selectbox .dropdown { width:160px;}
						.select120 .selectbox .select { width:150px; padding-right:0px;}
						
						.select80{ float:left;}
						.select80 .selectbox .dropdown { width:160px;}
						.select80 .selectbox .select { width:150px; padding-right:0px;}
						
						
				
				
/* tabs1*/
.tabs {width:100%; overflow:hidden; padding:1px; position:relative;}
.tabs_dt {float:left; z-index:3; height:36px; background-image:url(../img/tabs_bg.png); border:1px solid #d0b46e; border-top:1px solid #e0c88d; border-bottom:0; padding:12px 0 0 0; position:relative; left:8px; margin-right:3px; cursor:pointer; width:19.2%; color:#393838; font-size:15px;  font-family:"NewsGothicBold"; text-transform:uppercase; text-align:center; text-shadow: 0 1px #f6f0e1; 
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				-webkit-border-top-left-radius:5px;
				-webkit-border-top-right-radius:5px;
				-moz-border-radius-topleft:5px;
				-moz-border-radius-topright:5px;
			}
		.tabs_dd {background:#fff;  display:none; float:right; width:100%; margin:44px 0 0 -100%; position:relative; z-index:2;}
		.tabs .tab-content {border:1px solid #cecdcd; padding:3px; background-image:url(../img/tabs_cont_bg.png); background-repeat:repeat-x; border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			}
		  .tabs_dt:hover {background-color:#bfdff4;}
		  .tabs_dt.selected {border-color:#cecdcd; z-index:3; cursor:auto; background-image:url(../img/tabs_bg_sel.png);font-size:16px;}
		  .tabs_dd.selected {display:block; z-index:5;}
		  
/* tabs2*/		
.tabs2{ width:100%; overflow:hidden; position:relative; padding-top:8px;}
.tabs2_dt{ margin-right:3px; z-index:3; width:32.5%; float:left; height:36px; background-image:url(../img/tabs_bg_gray.png); border:1px solid #bfbdbd;  border-bottom:0; padding:12px 0 0 0; position:relative; cursor:pointer; color:#393838; font-size:15px;  font-family:"NewsGothicBold"; text-transform:uppercase; text-align:center; text-shadow: 0 1px #f6f0e1; 
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				-webkit-border-top-left-radius:5px;
				-webkit-border-top-right-radius:5px;
				-moz-border-radius-topleft:5px;
				-moz-border-radius-topright:5px
				;} 

		.tabs2_dd{background:#fff; display:none; float:right; width:100%; margin:44px 0 0 -100%; position:relative; z-index:2;}
		.tabs2 .tab2_cont {border:1px solid #cecdcd; padding:3px; background-image:url(../img/tabs_cont_bg.png); background-repeat:repeat-x;
 				border-top-right-radius:5px;
				border-bottom-left-radius:5px;
				border-bottom-right-radius:5px;
				-webkit-border-top-right-radius:5px;
				-webkit-border-bottom-left-radius:5px;
				-webkit-border-bottom-right-radius:5px;
				-moz-border-radius-topright:5px;
				-moz-border-radius-bottomright:5px;
				-moz-border-radius-bottomleft:5px;
			}
		  .tabs2_dt:hover {background-color:#bfdff4;}
		  .tabs2_dt.selected {border-color:#cecdcd; z-index:3; cursor:auto; background-image:url(../img/tabs_bg_sel.png); font-size:16px;}
		  .tabs2_dd.selected {display:block; z-index:5;}
		  
/* tabs_unactive*/

.tabs_un_dt {float:left; height:36px; background-image:url(../img/tabs_bg_un.png); border:1px solid #dadada; border-top:1px solid #e4e4e3; border-bottom:0; padding:12px 0 0 0; position:relative; left:8px; margin-right:3px; cursor:default; width:19.2%; color:#7a7a79; font-size:15px;  font-family:"NewsGothicBold"; text-transform:uppercase; text-align:center; text-shadow: 0 1px #f6f0e1; 
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				-webkit-border-top-left-radius:5px;
				-webkit-border-top-right-radius:5px;
				-moz-border-radius-topleft:5px;
				-moz-border-radius-topright:5px;
			}

.tabs2_un_dt{ margin-right:3px; width:32.5%; float:left; height:36px; background-image:url(../img/tabs_bg_gray_un.png); border:1px solid #bfbdbd;  border-bottom:0; padding:12px 0 0 0; position:relative;  cursor:default; color:#7a7a79; font-size:15px;  font-family:"NewsGothicBold"; text-transform:uppercase; text-align:center; text-shadow: 0 1px #f6f0e1; 
				border-top-left-radius:5px;
				border-top-right-radius:5px;
				-webkit-border-top-left-radius:5px;
				-webkit-border-top-right-radius:5px;
				-moz-border-radius-topleft:5px;
				-moz-border-radius-topright:5px
				;} 
		  
/* 7 */
				.tc_line2{  padding:10px 0 4px 20px; }
					div.tc_line2 div.gender_f, div.tc_line2 div.gender_m, div.tc_line2 div.gender_u{ margin:-10px 10px 10px 0; }
				.tc_line2 a {
					color: #000000;
					text-decoration: none;
				}
				.tcl_p2{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";  padding:5px 40px 13px 0; line-height:30px;  margin-left:117px;}
				.tcl_name{ padding:5px 20px 13px 117px; float:left; line-height:30px;  color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi"; }
				.gender_m{ float:left; height:30px; width:30px; background-image:url(../img/male.png); margin-top:3px;}
				.gender_f{ float:left; height:30px; width:30px; background-image:url(../img/female.png); margin-top:3px;}
				.gender_u{ float:left; height:30px; width:30px; background-image:url(../img/unknown.png); margin-top:3px;}
				
/*  11  */
	
			.tcl_p3{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";  padding:5px 40px 13px 0; line-height:30px;}	
			.name_line_gender_m{ float:left; height:32px; width:32px; background-image:url(../img/gender_m.png); margin-left:15px; margin-top:-3px;}
			
/*  12  */	
			 .sub_addr{ height:46px !important; width:188px; border:0 !important; background:none; background-image:url(../img/button_addr.png) !important; margin-top:-3px !important; color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; cursor:pointer;}
		  	 .sub_addr:active{ background-image:url(../img/button_addr.png) !important; background-position:0 -46px;}		
			
/*  13  */	
			.tc_sep_hight{ background-image:url(../img/tc_separator_center.png); height:45px; width:100%;}
				.tc_sep_hight_left{ float:left; height:45px; width:60px; background-image:url(../img/tc_separator_left.png);}
				.tc_sep_hight_center{ float:left; font-size:18px; color:#1a1a1a; font-family:"NewsGothicDemi"; text-align:center; padding-top:10px; width:100%; margin-left:-60px; margin-right:-60px;}
				.tc_sep_hight_right{ float:right; height:45px; width:60px; background-image:url(../img/tc_separator_right.png);}
/*  15  */		
			.tcl_p4{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";  padding:0 10px 13px 0; line-height:25px;}
/*  16  */				
			.tcl_p5{ float:left; color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi"; padding-top:12px;}
			.textarea1{ height:220px; padding:10px 10px 0 10px; border:1px solid #a7a6a7; border-radius:5px; background-image:url(../img/inp_bg.png); background-position:top; background-repeat:repeat-x; color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; line-height:40px; margin:0 10px 5px 0; width:520px;
			 border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
			}
/*  18  */				
			.tcl_p6{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";  padding:5px 40px 13px 0; line-height:30px;  margin-left:160px;}
/*  19  */				
		  .sub_today{ height:46px !important; width:69px; border:0 !important; background:none; background-image:url(../img/button_tobay.png) !important; margin-top:-3px !important;}
		  .sub_today:active{ background-image:url(../img/button_tobay.png) !important; background-position:0 -46px;}
		  .tab19{ margin:10px 10px 20px 10px;}
		  	 .tab19_td1{height:52px;  padding:0 10px; border: 1px solid #d2d1d1; text-align:center;}
			 .tab19_td2{height:52px; padding:0 10px;  border: 1px solid #d2d1d1; border-left:none; text-align:center;}
			 .tab19_td3{height:52px; padding:0 10px; border: 1px solid #d2d1d1; border-left:none; text-align:center;}
			 .tab19_td4{ height:52px; padding:0 5px; border: 1px solid #d2d1d1; border-top: none; text-align:center;}
			 .tab19_td5{height:52px; padding:0 5px; border: 1px solid #d2d1d1; border-left:none; border-top: none;}
			 .tab19_td6{height:52px; padding:0 10px;  border: 1px solid #d2d1d1; border-left:none; border-top: none; text-align:center;}
			 .tab19_td9{height:52px; padding:0 10px; border: none;}
			 .tab19_td7{height:52px; padding:0 10px; border-right: 1px solid #d2d1d1; text-align:right; padding-right:10px;}
			 .tab19_td8{height:52px; padding:0 10px; border: 1px solid #d2d1d1; border-left:none; border-top: none; text-align:center;}
			 .c191{ float:left; width:160px;  padding-top:12px;}
			 .c192{ float:left; margin-right:10px; margin-top:4px;}
			 .c193{ float:left; padding:5px 40px 13px 0; line-height:30px;}
	.tc7{ padding:31px 0 250px 0;}
			.tab_input{height:40px; padding:0 10px 0 10px; color:#1a1a1a; font-size:18px; font-family:"NewsGothicDemi"; line-height:40px; border:0; background:none;}
	.tcl_p7{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi"; padding:6px 20px 6px 20px;}
/*  24  */	
		  .small_text24{ float:left; padding:15px 0 0 40px;}
		  .second_line{ padding:20px 10px 0 117px; }
		  .bot10{ padding-bottom:10px;}
		  
/*  28  */	
			.left50{ padding-left:50px;}
/*			
			.ui-datepicker-trigger{ height:46px !important; width:44px; border:0 !important; background:none; 
					background-image:url(../img/but_calendar.png) !important; margin-top:-3px !important; margin-left:10px;}
				.ui-datepicker-trigger:active{background-image:url(../img/but_calendar.png) !important; background-position:0 -46px;}
*/
/*			
			.sub_calendar{ height:46px !important; width:44px; border:0 !important; background:none; background-image:url(../img/but_calendar.png) !important; margin-top:-3px !important; margin-left:10px;}
				.sub_calendar:active{background-image:url(../img/but_calendar.png) !important; background-position:0 -46px;}
*/				
			.tcl_p8{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";  padding:5px 40px 13px 0; line-height:30px;  margin-left:117px;}
		
		.db_text1{ font-size:14px; color:#414141; font-weight:normal; font-family:"NewsGothicBold"; text-shadow:0 1px #FFFFFF; }
		    #db_table_name, #db_table_id, #db_table_status{ cursor:pointer; }
		.db_text1 > a{ text-decoration:underline; color:#414141; }
		.db_text2{ color:#414141; font-size:14px; font-family:"NewsGothicDemi"; line-height:24px;}
		.db_text22{ color:#414141; font-size:14px; font-family:"NewsGothicDemi"; line-height:24px; text-decoration:underline; cursor:pointer;}
		.s_text{ color:#8a8989; font-size:16px; font-family:"NewsGothicDemi";}
		.list_text1{color:#FFFFFF; font-size:20px; font-family:"NewsGothicDemi"; text-shadow:0 -1px #963e3e, 1px 0 #b65858, -1px 0 #b65858;}
		.list_text2{ color:#393838; font-size:19px; font-family:"NewsGothicDemi"; text-decoration:underline; cursor:pointer;}
		.list_text3{ color:#393838; font-size:17px; font-family:"NewsGothicDemi";}
		.text71{ color:#9a0000; font-size:20px;  font-family:"NewsGothicDemi"; text-transform:uppercase;}
		.text191{ color:#605e5e; font-size:16px; font-family:"NewsGothicDemi";}
		.text192{ color:#1a1a1a; font-size:20px; font-family:"NewsGothicDemi";}

input[class*=group]{
  margin:0 10px;
}

.radio_align{
	float: left;
	margin-left: 20px;
	padding-top: 10px;
}


.icon {
    vertical-align: bottom;
    margin-top: 5px;
    margin-left: -31px;
    margin-bottom: 0px;
    width: 30px;
    height: 31px;
    cursor: pointer;
}



.ui-datepicker-current { display: none; }

.searchtool {
    display: block;
    padding-top: 10px;
    padding-left: 5px;
    color:#bf0000; font-size:16px; 
    font-family:"NewsGothicDemi";
    font-weight: 500;
}

.attool {
    display: block;
    padding-left: 20px;
    padding-bottom: 15px;

    color:#bf0000; font-size:16px; 
    font-family:"NewsGothicDemi";
    font-weight: 500;
}


.astool {
    color:#bf0000; font-size:16px; 
    font-family:"NewsGothicDemi";
    font-weight: 500;
}


#loading{
display:none;
background: rgba(255,255,255,.8) url('ajax_loader.gif') 50% 50% no-repeat;
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:9999;

}

.page-search-registered .db_search_form {
	margin-top: 0;
}
.page-search-registered .form-container{
	padding: 10px;
}

















